.new {
    height: 950px;
    /* display: flex;
    flex-direction: column; */
}

.new__wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #493b5f;
    color: #fff;
}

.new__mega-title {
    display: flex;
    flex-direction: column;
    padding: 50px 15px;
}

.new__img-cont {
    width: 100%;
}

.new__img {
    margin: auto;
width: 80%;
    padding: 30px 0;
    display: flex;
  justify-content: center;
  align-items: center;
}

.new__title {
    font-weight: bold;
    font-size: 34px;
}

.new__small {
    font-size: 20px;
    color: #ada3ba;
    margin: 25px 0;
}

.new__list {
    display: flex;
    margin: 0;
}

.new__icon {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #32264b;
  margin: 10px;
}

.new__icon2 {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #32264b;
  margin: 45px 10px;
}

.new__icon3 {
    width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  text-align: center;
  background-color: #32264b;
  margin: 40px 10px 0 10px;
}



.new__icon-img {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
}

.new__list-text {
    display: flex;
    flex-direction: column;
}

.new__list2 {
    display: flex;
    padding-bottom: 10px;
}

.list__title {
    font-weight: bold;
    font-size: 24px;
}

.list-text {
    font-size: 18px;
    color: #ada3ba;
}

@media (min-width: 380px) {
    .new__icon {
      margin: 0px 10px;
    }

    .new__icon2 {
        margin: 27px 10px;
      }

      .new__icon3 {
        margin: 22px 10px;
      }
}

@media (min-width: 600px) {
    .new {
        height: 1150px;
    }
}

@media (min-width: 800px) {
    .new {
        height: 700px;
    }

.new__wrapper {
    flex-direction: row;
}

.new__text {
    width: 50%;
}

.new__img-cont {
    width: 50%;
    position: relative;
}

.new__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.new__mega-title {
    display: flex;
    flex-direction: column;
    padding: 120px 15px 50px 15px;
}
}